[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/Testnet-Contracts"]
	path = lib/Testnet-Contracts
	url = https://github.com/EVVM-org/Testnet-Contracts
